<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/">Emergn Test</a>
  </h1>
  <ul *ngIf="auth.isAuthenticated()">
    <li>
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
</nav>

<div class="container">
  <div *ngIf="users.length; else loading">
    <div class="form-control">
      <input type="text" placeholder="Search user..." [(ngModel)]="searchStr" />
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Login</th>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of users | searchUsers: searchStr; let idx = index"
        >
          <td aria-label="#">{{ idx + 1 }}</td>
          <td aria-label="Login">{{ user.login }}</td>
          <td aria-label="Name">{{ user.name }}</td>
          <td aria-label="Email">{{ user.email }}</td>
          <ng-container *ngIf="user.email === userEmail; else noAccess">
            <td aria-label="Password">{{ user.password }}</td>
            <td aria-label="Edit">
              <button class="btn btn-link" [routerLink]="['/edit', user.id]">
                Edit
              </button>
            </td>
          </ng-container>
          <ng-template #noAccess>
            <td aria-label="Password">********</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #loading>
    <p class="text-center">Loading...</p>
  </ng-template>
</div>
<router-outlet></router-outlet>
